.close-container {
    font-size: 20px;
    color: white;
    text-align: right;
    font-weight: bold;
}

.close-container svg {
    cursor: pointer;
}

.register-container {
    max-width: 950px;
    margin: 0 auto;
    background: rgb(32,32,32);
    border-radius: 10px;
}

.email-container {
    position: relative;
}

.email-container svg {
    font-size: 20px;
    color: rgb(200,200,200);
    position: absolute;
    right: 10px;
    top: 30px;
}
.confirmpassword-container {
    position: relative;
}

.confirmpassword-container svg {
    font-size: 20px;
    color: rgb(200,200,200);
    position: absolute;
    right: 10px;
    top: 30px;
}

.username-container  p{
      margin-top:-20px;
      color:rgb(88,88,88);
}

.password-container  p{
    margin-top:-20px;
    color:rgb(88,88,88);
}

.form-header {
    color: white;
    font-size: 20px;
}

label {
    color: white;
    display:inline-block;
    /* text-transform: uppercase; */
}

input{
    display: block;
    padding: 6px 6px;
    width: 100%;
    box-sizing: bordre-box;
    border: none;
    color: rgb(88,88,88);
    margin-bottom: 30px !important;
    border-radius: 5px;
    background-color: gray;
    color: white;
}

.receive {
    display: inline-block;
    width:16px;
    margin: 0 10px 0;
    position: relative;
    top: -23px;
}

.terms {
    display: inline-block;
    width:16px;
    margin: 0 10px 0;
    position: relative;
    top: 2px;
}

.pill {
    display: inline-block;
    margin: 20px 10px 0 0 ;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    background: #eee;
}

.submit-btn {
    background: rgb(110,32,134);
    border: 0;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

.to-login-span {
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.checkbox-container span {
    text-decoration: underline;
    cursor: pointer;
}